<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Resend unlock instructions</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="box">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Resend unlock instructions", class: 'btn btn-primary btn-block btn-lg' %>
        </div>
        <% end %>
        <hr>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
