<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Reset your password</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="box">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <p class="text-center">Enter your email address below and we will send you a link to reset your password.</p>
        <hr>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit "Send password reset email", class: 'btn btn-primary btn-block btn-lg' %>
        </div>
        <hr>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
