<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg">
  <div class="meta-nav">
    <ul>
      <li><a href="http://worldofmind.org">Mind</a></li>
      <li><a href="http://projects.worldofmind.org">Projects</a></li>
      <li><a href="http://quests.worldofmind.org">Quests</a></li>
      <li><a href="http://events.worldofmind.org">Events</a></li>
    </ul>
  </div>
  <a class="navbar-brand" href="<%= root_path %>">
    <%= image_tag("logo.svg") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <div class="navbar-toggler-wrapper">
      <span class="line line__top"></span>
      <span class="line line__center"></span>
      <span class="line line__bottom"></span>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item <%= "active" if request.path == '/' %>">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= "active" if request.path == '/get_started' %>""><%= link_to "Get Started", get_started_path, class: "nav-link #{unread_announcements(current_user)}" %></li>
      <li class="nav-item <%= "active" if request.path == '/creators' %>""><%= link_to "Creators", creators_path, class: "nav-link" %></li>
      <li class="nav-item <%= "active" if request.path == '/sponsors' %>""><%= link_to "Sponsors", sponsors_path, class: "nav-link" %></li>
      <li class="nav-item <%= "active" if request.path == '/announcements' %>""><%= link_to "Roadmap", announcements_path, class: "nav-link #{unread_announcements(current_user)}" %></li>
      <% if user_signed_in? %>

      <li class="nav-item icon">
        <%= link_to notifications_path, class: "nav-link" do %>
          <%= image_tag "icons/notification.svg" %>
        <% end %>
      </li>

      <li class="nav-item dropdown">
        <%= link_to root_path, id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
          <%= image_tag gravatar_image_url(current_user.email, size: 40), height: 30, width: 30, class: "rounded" %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbar-dropdown">
          <% if current_user.admin? %>
            <%= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
          <% end %>
          <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>

      <% else %>
        <li class="nav-item button"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary", style: "color: #fff" %></li>
        <li class="nav-item button"><%= link_to "Log in", new_user_session_path, class: "btn btn-primary", style: "color: #fff" %></li>
      <% end %>
    </ul>
  </div>
</nav>
