<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Log in</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="box">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="form-check m-b-20">
          <label class="form-check-label">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            Remember me
          </label>
        </div>
        <% end -%>

        <div class="form-group">
          <%= f.submit "Log in", class: "btn btn-primary btn-block btn-lg" %>
        </div>
        <% end %>
        <hr>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
